.header-app{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.logo-container{
  width:100px;
}
.nav-items > ul{
  display: flex;
  list-style-type:none;
  padding:0px 20px;
  font-size: 24px;
}
.nav-items > ul >li{
  padding: 10px;
  margin:10px;
}
